[submodule "src/exts/libuv/libuv"]
	path = src/exts/libuv/libuv
	url = https://github.com/ziyht/libuv
[submodule "src/libs/etk/ecodec/libs/lz4"]
	path = src/libs/etk/ecodec/libs/lz4
	url = https://github.com/lz4/lz4
[submodule "src/exts/cnats/nats.c"]
	path = src/exts/cnats/nats.c
	url = https://github.com/nats-io/nats.c
[submodule "src/exts/pthreads-win32/pthreads-win32"]
	path = src/exts/pthreads-win32/pthreads-win32
	url = https://github.com/ziyht/pthreads-win32
